{% block header %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="Thích Ngao Du"> 
<meta property="og:site_name" content="Jekyll">
<meta name="theme-color" content="#22292F">
<meta name="robots" content="index,follow">
<meta name="googlebot" content="index,follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<title>
{{title|default('DorewSite for Wap4')}}
</title>
<link rel="shortcut icon" href="https://i.imgur.com/M1fnhYl.png" />
<link rel="dns-prefetch" href="https://i.imgur.com">
<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet"/>
<link href="{{dir.css}}/style.css" rel="stylesheet"/>
</head>
<body>

<div class="header"><a title="tiaxgame.tk" href="/" style="font-weight:700;font-size:18px;color:black">DorewSite</a></div>
<div class="tmn">
<a href="/index.html">Trang chủ</a> | <a href="https://sacmau.mobi">Tạo web SMM miễn phí</a><br/>
</div>
<div class="maintxt">
{% endblock %}

{% block footer %}
</div>
<div class="footer">
- Copyright by: Dorew &copy; Memories version<br/>
- Ip: {{ip()}}<br/>
- Thank to: DorewSite
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</body>
</html>
{% endblock %}